h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(165, 66, 66); 
    color: rgb(198, 211, 212);
}

p{
    font-family: Helvetica
}

body{

background: 
-webkit-gradient(linear, 0 0,  0 100%, from(rgb(75, 129, 173)), to( rgb(107, 168, 99)));

}


body{

    text-align: center;
    background-color: rgb(192, 162, 85);
}

h2{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: black; 
    color: black;
}
    h2{
        font-size: 25px;
        font-family: sans-serif;
        font-weight: lighter;
        background-color: rgb(207, 149, 61); 
        color: rgb(232, 238, 238);
    }